*{
  margin: 0;
}
html{
  scroll-behavior: smooth;
}

body{
  background-color: #4632aa;
}

a {
  text-decoration: none;
}


a:hover{
  color: gold;
  

}
nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  margin: 15px 5% 5% 5%;
  background-color:#10101a;
  border-radius: 10px;
}

nav a {
padding: 10px;
color: antiquewhite;

}

.links{
  margin-right: 10%;
}

#logo{
  border-radius: 5px;
}
  /* landing page */

body #landingpage{
  height: 50vh;
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 20%;
  align-content: center;
  justify-content: center;
}

#landingpage > *{
  padding: 7%;
}
#landingpage #greeting {
  font-size: 60px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  animation-fill-mode: forwards;

}
 


#landingpage p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* services */
#services{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
 
}

.tiles{
  color: white;
  padding: 7%;
  border: 1px solid #10101a ;
  border-radius: 20px;
  width: 25%;
  height: 33.3;
}

#services .tiles > i{
  font-size: 180%;
  padding: 15px;
}


/* footer */
.column1{
color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 5%;
}
.column1 a{
  color: antiquewhite;
}
.column1 a:hover{
color: gold;
}

#contactme{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color:#10101a;
}

.icons{
  font-size: 80px;
  color: antiquewhite;
  padding: 5%;
}

.icons i{
  color: antiquewhite;
}
i:hover{
  color: gold;
}

body #contactme .icons #igtxt{
  font-size: 22%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

#ghtxt{
  font-size: 22%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}